# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>JOGL Canvas DC3D, "Convert to JOGL Canvas", ajs.joglcanvas.JCP
Plugins>JOGL Canvas DC3D, "Open JOGL Canvas Mirror", ajs.joglcanvas.JCP("MirrorWindow")
Plugins>JOGL Canvas DC3D, "JOGL Canvas Prefs", ajs.joglcanvas.JCP("setprefs")
Plugins>JOGL Canvas DC3D, "JOGL Canvas Recorder", ajs.joglcanvas.JCRecorder
Plugins>JOGL Canvas DC3D, "HelloTriangleSimple", ajs.joglcanvas.JCP("HelloTriangle")
